.Footer{
    display: flex;
    flex-direction: column;
   margin-left: 10%;

}

.Footer ul {
    display: flex;
    list-style: none;
    
}

.Footer ul li {
    padding-left: 70px;
    margin-top: 20px;
    font-family: "Roboto Mono", monospace;
}

.parent-f{
    background-color: rgb(51, 50, 50);
    color: rgb(180, 178, 178);
    height: 15  0px;
}
.footer-1{
    margin-left:14.4% ;
    margin-top: 10px;
    padding-bottom: 20px;
    font-family: "Roboto Mono", monospace;
}

@media screen and (max-width: 1110px) {
    .parent-f{
        width: 1110px ;
    }
}

@media screen and (max-width: 700px) {
    .parent-f{
       width : 700px;
       /* display: block; */
    }
  }

