.home {
  background: url('../../utils/bg-1.jpg')center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  object-fit: contain;
}

.heading {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading h1{
  margin-top: 300px;
}

.heading p {
  margin-top: 40px;
 
}

@media only screen and (max-width: 960px) {
  .home {
    
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media  screen and (max-width: 375px) {
  .home {
    width: 375px;
  }

  .heading h1 {
    font-size: 10px;

  }
  .heading p{
    font-size: 10px;
    width: 100px;
  }
}